.porcentage-1 {
  width: 6.25%;
}

.porcentage-2 {
  width: 12.5%;
}

.porcentage-3 {
  width: 18.75%;
}

.porcentage-4 {
  width: 25%;
}

.porcentage-5 {
  width: 31.25%;
}

.porcentage-6 {
  width: 37.5%;
}

.porcentage-7 {
  width: 43.75%;
}

.porcentage-8 {
  width: 50%;
}

.porcentage-9 {
  width: 56.25%;
}

.porcentage-10 {
  width: 62.5%;
}

.porcentage-11 {
  width: 68.75%;
}

.porcentage-12 {
  width: 75%;
}

.porcentage-13 {
  width: 81.25%;
}

.porcentage-14 {
  width: 87.5%;
}

.porcentage-15 {
  width: 93.75%;
}

.porcentage-16 {
  width: 100%;
}

.grid-1 {
  width: 40px;
}

.grid-2 {
  width: 100px;
}

.grid-3 {
  width: 160px;
}

.grid-4 {
  width: 220px;
}

.grid-5 {
  width: 280px;
}

.grid-6 {
  width: 340px;
}

.grid-7 {
  width: 400px;
}

.grid-8 {
  width: 460px;
}

.grid-9 {
  width: 520px;
}

.grid-10 {
  width: 580px;
}

.grid-11 {
  width: 640px;
}

.grid-12 {
  width: 700px;
}

.grid-13 {
  width: 760px;
}

.grid-14 {
  width: 820px;
}

.grid-15 {
  width: 880px;
}

.grid-16 {
  width: 940px;
}
