@import "import"; //arquivo está importando estilos para <p>
@import "nesting";
@import "mixin";
@import "condicionais";

$font: monospace;

h1 {
    text-align: center;
    font-family: $font;
    @include topic(#3156c7, 20px);
}

p.large {
    @include title-large();
    @include topic(#3156c7, 20px);
    @include box-shadow(5px 5px 2px rgba(0, 0, 0, .7),
                        10px 10px 1px rgba(0, 0, 0, .5),
                        15px 15px 0px rgba(0, 0, 0, .2),);
}

p.condicionais {
    color: $primary-color;
    background: $second-color;
}