ul {
    text-align: center;
    margin-top: 30px;
    li {
        display: inline-block;
        list-style: none;
        a {
            color: white;
            background-color: royalblue;
            padding: 10px;
            border-radius: 7px;
            text-decoration: none;
            &:hover {
                background-color: rgb(49, 86, 199);
            }
        }
    }
}